* {
  margin: 0%;
  padding: 0%;
}

body {
  
  text-align: center;
  background-image: url(./imagen/fonfo.jpg);
}


#btnSearch {
  margin: 0%;
  position: relative;
  top: -50px;
  margin-left: auto;
  margin-right: auto;
}

input {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.0em;
  padding: 0.2em 1.5em 0.2em;
  border-radius: 4px;
  border: solid 1px;
}

.img1 {
  margin: 0%;
  width: 100%;
  height: 160px;
  position: relative;
  z-index: -1;
}


.img2 {
  margin: 0%;
  width: 200px;
  display: block;
  position: relative;
  top: -100px;
  margin-left: auto;
  margin-right: auto;
}
h1{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
  font-size: 1.20em;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
h3{
  font-size: 1.0em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#type{
  background-color: #fdc1edf1;
}

#region{
background-color: #95e2faee;
}

#order{
  background-color: #fdf597f1;
  
}

select {
  margin: 2%;
  height: 25%;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.0em;
  padding: 0.2em 1.5em 0.2em;
  position: relative;
  top: -50px;
}

section {
  padding: 2% 3% 2%;
  background-color: #aff8db77;

}

section:hover {
  background-color: rgba(199, 44, 16, 0.19);
  padding: 4% 6% 4%;
  border-radius: 5px;
  

}

p {
  padding: 5px;
  width: 100%;
  color: rgb(255, 255, 255);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  font-size: 3.0em;
  text-shadow: 3px 3px 3px black;
  position: absolute;
  text-align: center;
}

a {
  width: 50%;
  position: absolute;
  margin-top: -20px;
  margin-left: 3%;
  text-align: justify;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#root {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  position: relative;
  top: -60px;
}

